body{
    background-color: lightgray;
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.container{
    
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    
}
.header{
    background-image: url(/img/mountains.jpg);
    background-size: cover;
    height: 250px;
    position: relative; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.clear-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 20px;

}
.clear-icon:hover{
    transform: rotate(45deg);
    transition:.3s ;
    
}

.date{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;

}.contents{
    display: block;
    width: 350px;
    height: 350px;
}
.contents .list{
    padding: 0px;
    margin: 0px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


.item {
    position: relative;
    display:flex;
    width: 350px;
    height: 45px;
    min-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
}
.fa-circle{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    
}
.fa-check-circle{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    color: rgb(93, 168, 49);
}
.lineThrough{
    text-decoration: line-through;
    color: lightgray;
}
.item  p{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 15px;
    left: 80px;
    font-size: 20px;
}
.fa-trash-alt{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}

.add-to-list{
    position: relative;
    width: 350px;
    height: 50px;
    border-top: 1px solid #949393;
    color: #424242;

    
}
.add-to-list i{
    
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 10px;
    
   
}
.add-to-list input{
    position: absolute;
    top: 10px;
    left: 60px;
    width: 70%;
    border: none;
    height: 25px;
    
}
